MYSQL_DATABASE=itsm
MYSQL_USER=itsm
MYSQL_PASSWORD=itsm
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306

MONGO_PORT=27017

REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

ELASTICSEARCH_PORT=9200
ELASTICSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
